.key {
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;

    position: relative;
}

.key__note {
    font-size: 48px;
    width: 100%;
    bottom: 20px;

    position: absolute;
    text-align: center;

}

.key--highlighted {
    background: lightgreen;
}
