.keyboard__keys {
    position: relative;
    background: beige;
    width: 445px;
    margin: 100px auto 0;
    height: 310px;
}

.keyboard__keys--white {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.keyboard__keys--black {
    position: absolute;
    width: 100%;
    height: 200px;
    display: flex;
}

.keyboard__display {
    background: lightblue;
    width: 100%;
    height: 100%;
}